.box{
    background-color: #f5f4f4;
    width: 1500px;
    margin: 10px auto;
}
div{
    background-color: #fafafa;

}
.item{
    background-color: #fafafa;
    border: 1px solid red;
    float: left;
    width:300px;
    text-align: center;
    margin: 20px 35px;
}